body {
	background: #2B2D42;
	margin: 0;
	padding: 0;
}

header {
	padding: 1em;
	background-image: linear-gradient( rgba(61, 72, 114, 1), rgba(61, 72, 114, 0));
	margin: 0;
	position: relative;
	height: 120px;
}

#logo {
	height: 50px;
	padding: 5px;
}

header nav {
	position: absolute;
	top: 20px;
	right: 10px;
	padding: inherit;
}

header nav ul {
	list-style: none;
	margin: 0;
}

header nav li {
	display: inline-block;
	margin-right: 10px;
}

header nav a {
	font-size: 21px;
	background: #edf2f4;
	color: #8d99ae;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: inherit;
	border-radius: 10px;
}

h1 {
	text-align: center;
	color: #edf2f4;
	font-size: 60px;
	font-family: 'Norican', cursive;
}

h3 {
	color: #edf2f4;
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
	margin: 0;
	margin-left: 10px;
	margin-bottom: 0;
	margin-top: 20px;
}

h3.index {
	margin-top: 0px;
}

h3.about {
	text-indent: 100px;
	font-size: 20px;
}

h3#boxabout {
	margin: 0;
}

#self {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border-radius: 50%;
	border: 5px solid #edf2f4;
}

p {
	color: #edf2f4;
	padding-bottom: 25px;
	padding-top: 60px;
	font-size: 22px;
	text-indent: 50px;
	line-height: 1.75;
	font-family: 'Cousine', monospace;
}

* {
	box-sizing: border-box;
}

.spacingpage {
	margin-left: 150px;
	margin-right: 150px;
}


p#artwords {
	margin-right: 120px;
	padding-right: 0px;
	height: 600px;
	border-right-width: 50px;
	width: 1000px;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 150px;
	padding-bottom: 0px;
}

p#webwords {
	text-align: right;
	margin-left: 40px;
	padding: 0px;
	padding-left: 0px;
	border-left-width: 500px;
	height: 300px;
	width: 400px;

}

.NavIndex {
	padding-bottom: 50px;
	margin: auto;
}


.clear {
	clear: both;
}






#nicontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 640px;
	margin: auto;
	padding-left: 97px;
	padding-right: 97px;
}

.NILinks {
	background: #151823;
	line-height: 26px;
	border-radius: 40px;
	text-align: center;
	border: 200px;
	height: auto;
	width: auto;
	padding: 30px;
	float: left;
	font-size: 22;
	margin: 10px;
}









.NavAbout {
	padding-bottom: 0px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

#nicontainerabout {
	width: 640px;
	margin: auto;
	padding-left: 97px;
	padding-right: 97px;
}

.NILinksAbout {
	background: #151823;
	line-height: 26px;
	border-radius: 40px;
	text-align: center;
	border: 200px;
	height: auto;
	width: auto;
	margin-left: 140px;
	margin-right: 120px;
	margin-top: 80px;
	padding: 30px;
	float: left;
	font-size: 22;
}

a {
	text-decoration: none;
	color: #B4E1ED;
	font-size: 23px;
}

nav a:hover {
	background: #2B2D42;
	color: #edf2f4;
}

h4 {
	color: #d5c1ff;
	margin: 0;
	margin-left: 10px;
}

.artimages {
	float: left;
	margin-right: 170px;
	width: 400px;
	max-width: 100%;
	height: auto;
}

img#shark {
	width: 140%;
	height: 140%;
	margin-top: 25px;
	border: 5px solid #8d99ae;
}

img#stars {
	width: 80%;
	height: 80%;
	margin-left: 100px;
	margin-right: 50px;
	margin-top: 20px;
	border: 5px solid #8d99ae;
}

.webimage {
	margin-right: 0px;
}

img#webdesign {
	float: right;
	width: 500px;
	height: 300px;
	margin-left: 20px;
	padding-left: 0px;
	border-left-width: 100px;
	border: 5px solid #8d99ae;
}

#aboutweb {
	font-size: 50px;
	text-align: right;
	margin-right: 400px;
	margin-bottom: 30px;
	margin-top: 150px;
	max-width: 100%;
	height: auto;
}

#aboutart {
	font-size: 30px;
	margin-left: 400px;
	margin-top: 15=00;
	margin-top: 40px;
	font-size: 50px;
}

.clearfix {
	margin-left: 150px;
	margin-right: 150px;
	padding-right: 50px;
	padding-left: 50px;
}

img#emailimg {
	float: right;
	width: 500px;
	height: 300px;
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 0px;
	margin-top: 50px;
	border-left-width: 100px;
	border: 5px solid #8d99ae;
}

.form {
	margin-left: 100px;
}

.genderradio {
	display: block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	margin-left: 12px;
	cursor: pointer;
	font-size: 18px;
	color: #edf2f4;
	user-select: none;
}

.genderradio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	border-radius: 50%;
}

.genderradio input:hover ~ .radio {
	background-color: #ccc;
}

.genderradio input:checked ~ .radio {
	background-color: #2196f3;
}

.radio:after {
	content: "";
	position: absolute;
	display: none;
}

.genderradio input:checked ~ .radio:after {
	display: block;
}

.genderradio .radio:after {
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

textarea {
	width: 500px;
	height: 150px;
	padding: 6px 12px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: rgba(237, 242, 244, 0.1);
	resize: none;
	color: #edf2f4;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

input[type=text] {
	width: 25%;
	padding: 0;
	margin: 0;
	margin-left: 5px;
	padding-bottom: 2px;
	border: none;
	border-bottom: 2px solid #edf2f4;
	background: rgba(0, 0, 0, 0);
	font-size: 18px;
	color: #edf2f4;
}

input[type=email] {
	width: 25%;
	padding: 0;
	margin: 0;
	margin-left: 5px;
	padding-bottom: 2px;
	border: none;
	border-bottom: 2px solid #edf2f4;
	background: rgba(0, 0, 0, 0);
	color: #edf2f4;
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
}

::placeholder {
	color: #edf2f4;
	opacity: .5;
	font-size: 18px;
	font-family: monospace;
}

input[type=submit] {
	background-color: #3D4872;
	border: solid;
	color: white;
	padding: 14px 29px;
	text-decoration: none;
	margin: 10px 30px;
	margin-bottom: 40px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 18px;
	font-style: italic;
	border-radius: 50%;
}

input[type=submit]:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
}


footer {
	padding: 1em;
background-image: linear-gradient( rgba(61, 72, 114, 0), rgba(61, 72, 114, 1));
	margin: 0;
	position: relative;
	height: 130px;
	width: auto;
}

footer nav {
	position: absolute;
	top: 57px;
	left: -22px;
	bottom: 20px;
}

footer nav ul {
	list-style: none;
	margin: 0;
}

footer nav li {
	display: inline-block;
}

footer nav a {
	font-size: 18px;
	background: #edf2f4;
	color: #8d99ae;
	padding: 5px;
	text-decoration: none;
	text-transform: lowercase;
	font-family: inherit;
	margin: 5px;
	border-radius: 10px;
}

footer p {
	color: #d5c1ff;
	font-style: italic;
	font-size: 18px;
}
